.off-canvas-menu {
  @include media('>=desktop') {
    &__button {
      display: none;
    }

    &__content {
      position: relative;
      width: 100%;
      height: auto;
      padding: 0;
      overflow: initial;
      background: none;

      &[aria-hidden] {
        transform: none;
      }
    }
  }

  &__button {
    border: none;
    background: none;
    text-align: center;

    &__label {
      display: block;
    }
  }

  &__content {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform 0.25s ease-in-out;
    background-color: $c-default-background;
    text-align: inherit;

    &[aria-hidden] {
      transform: translateX(100%);
    }
  }
}

.off-canvas-menu--open {
  .off-canvas-menu__button__icon {
    margin: 0.5rem auto;
  }
}

.off-canvas-menu--close {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  float: right;

  & + * {
    clear: right;
  }
}

body.menu-displayed {
  overflow-y: hidden;
}
