.menu--main {
  position: static;

  @include media('>=desktop') {
    .menu__root {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;

      a,
      button {
        padding: 1rem;
        line-height: 1;
        text-transform: none;
      }

      > .menu-item {
        display: block;
      }
    }

    .menu__child__panel {
      position: absolute;
      z-index: 10;
    }

    .menu__child__wrapper {
      border: 1px solid $c-headings;
      background: $c-default-background;
    }

    .menu__child {
      display: block;
      margin: 0;
    }
  }

  .menu__root {
    margin: 0;
    padding: 1rem;

    a,
    button {
      display: block;
      width: 100%;
      padding: 0.25rem 0;
      border: none;
      outline: 0; // Replaced by effective hover & focus styles.
      background-color: transparent;
      text-align: left;

      /* TODO adapt this.
      &:hover,
      &:focus-within {

      } */

      /* TODO adapt this.
      &.is-active {

      } */
    }

    > .menu-item {
      // Reset default styles.
      padding-top: 0;
      padding-bottom: 1rem;
      list-style: none;

      > a,
      > button {
        @include grid-column(2, 7);
        @include set-font-size(h3, mobile);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;

        &[aria-expanded] .decorator {
          display: block;
          flex-grow: 0;
          order: 2;
          width: 1.5rem;
          height: 1.5rem;
          transition: transform 0.25s ease-in-out;
        }

        &[aria-expanded='true'] .decorator {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .menu__child {
    margin: 0 0 0 1.5rem;

    &__panel {
      @include grid-column(2, 7);
      max-height: 50vh;
      overflow: hidden;
      transition: max-height 0.25s ease-in-out;

      &[aria-hidden]:not(:focus-within) {
        max-height: 0;
        transition: max-height 0.25s cubic-bezier(0, 1, 0, 1);
      }

      h3 {
        @include visually-hidden;
      }
    }

    > .menu-item {
      > a,
      > button {
        @include set-font-size(h5, mobile);
        font-weight: bold;
      }

      /* TODO adapt!
      &--active-trail {

      } */
    }
  }
}
