@mixin box-ratio($width, $ratio: 0.5, $max-width: none) {
  width: $width;
  height: calc(#{$width} * #{$ratio});

  @if $max-width != none {
    max-width: $max-width;
    max-height: calc(#{$max-width} * #{$ratio});
  } @else {
    max-width: none;
    max-height: none;
  }
}
