///
/// Apply the default button style.
///
@mixin button() {
  display: inline-block;
  padding: 1rem 3rem;
  border: 1px solid $c-button-secondary;
  border-radius: 5rem;
  background: $c-button-main;
  color: $c-button-secondary;
  font-weight: bold;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $c-button-secondary;
    color: $c-button-main;
  }

  &[disabled] {
    background: $c-button-disabled-bg;
    color: $c-button-disabled;
    cursor: default;
  }
}
