////
/// Centering related mixins.
////

///
/// Center the *content* vertically or/and horizontally.
///
@mixin center-content-flex($type: null) {
  display: flex;

  @if $type == 'x' {
    justify-content: center;
  } @else if $type == 'y' {
    align-items: center;
  } @else {
    align-items: center;
    justify-content: center;
  }
}

///
/// Center the *element* itself vertically or/and horizontally.
///
@mixin center-absolute($type: null) {
  position: absolute;

  @if $type == 'x' {
    left: 50%;
    transform: translateX(-50%);
  } @else if $type == 'y' {
    top: 50%;
    transform: translateY(-50%);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
