////
/// Clickable blocks related mixins.
////

///
/// Make an element entirely clickable.
///
/// Expands the clickable area of the main link to the entire element. Ensures
/// that other links are positioned on top of the expanded area so they are
/// still usable.
/// This is adapted from https://www.sarasoueidan.com/blog/nested-links/ and
/// https://css-tricks.com/a-complete-guide-to-links-and-buttons/ to layer
/// links.
///
/// @param {String} $main_link_wrapper_selector - CSS selector to target the
///   main link selector wrapper so it's expanded on the entire element.
///
@mixin clickable-element($main_link_wrapper_selector) {
  position: relative;

  a {
    position: relative;
    z-index: 1;
  }

  #{$main_link_wrapper_selector} a { // stylelint-disable-line plugin/stylelint-bem-namics
    position: static;
    text-decoration: none;

    // Use ::after because a lot of links use ::before for decoration.
    &::after { // stylelint-disable-line plugin/stylelint-bem-namics
      content: '';
      position: absolute;
      z-index: 0;
      top: 0; right: 0; bottom: 0; left: 0;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
    }
  }
}
