@mixin color-bar($color) {
  background: $color;

  @include breakpoint(desktop) {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0; right: 100%; bottom: 0;
      width: 9600px;
      background: $color;
    }

    &::after {
      left: 100%;
      width: 9600px;
    }
  }
}
