////
/// @file
/// Links related mixins.
////

///
/// Displays the *element* as a link.
///
@mixin link() {
  color: $c-link;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $c-link-hover;
    text-decoration: underline;
  }
}

///
/// Displays the *element* as an underlined link.
///
@mixin link--underlined() {
  @include link;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
