/* stylelint-disable plugin/stylelint-bem-namics */

@import 'font_size';

%link {
  color: $link-color;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

%underlined-link {
  @extend %link;
  text-decoration: underline;
}
