/* stylelint-disable plugin/stylelint-bem-namics */

@import 'font_size';

%link {
  color: $c-link;

  &:hover,
  &:focus {
    color: $c-link-hover;
  }
}

%underlined-link {
  @extend %link;
  text-decoration: underline;
}
