
%list--no-bullet {
  list-style: none;
  padding: 0;
}

%list--default {
  @extend %list--no-bullet;

  li::before {
    content: "•";
    display: inline;
    margin-right: .5em;
  }

  // Offset nested lists.
  ul {
    padding-left: 1rem;
  }
}

%list--horizontal {
  @extend %list--no-bullet;
  display: flex;

  li {
    margin-right: .5rem;
  }
}
