/* stylelint-disable plugin/stylelint-bem-namics */

%list--no-bullet {
  padding: 0;
  list-style: none;
}

%list--default {
  @extend %list--no-bullet;

  li::before {
    content: '•';
    display: inline;
    margin-right: 0.5em;
  }

  // Offset nested lists.
  ul {
    padding-left: 1rem;
  }
}

%list--horizontal {
  @extend %list--no-bullet;
  display: flex;

  li {
    margin-right: 0.5rem;
  }
}
