///
/// Removes the default style of the list.
///
@mixin list--no-bullet() {
  padding: 0;
  list-style: none;
}

///
/// Default unordered list.
///
@mixin list--default() {
  @include list--no-bullet;

  li::before {
    content: '•';
    display: inline;
    margin-right: 0.5em;
  }

  // Offset nested lists.
  ul {
    padding-left: 1rem;
  }
}

///
/// Simple horizontal list.
///
@mixin list--horizontal() {
  @include list--no-bullet;
  display: flex;

  li {
    margin-right: 0.5rem;
  }
}
