/* stylelint-disable plugin/stylelint-bem-namics */

%message-box {
  --base-color: #{$c-message-base};
  padding: 1rem 1.5rem 1rem 4.5rem;
  border-width: 8px 0 0;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--base-color) transparent transparent transparent;
  background: no-repeat left 1.5rem top 1.25rem;
  background-size: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;

  &--status {
    --base-color: #{$c-message-status};
    background-image: url($images-path + "/icons/message-valid.svg");
  }

  &--info {
    --base-color: #{$c-message-info};
    background-image: url($images-path + "/icons/message-info.svg");
  }

  &--warning {
    --base-color: #{$c-message-warning};
    background-image: url($images-path + "/icons/message-caution.svg");
  }

  &--error {
    --base-color: #{$c-message-error};
    background-image: url($images-path + "/icons/message-alert.svg");
  }

  // RTL support.

  [dir='rtl'] & {
    padding: 1rem 4.5rem 1rem 1.5rem;
    background-position: right 1.5rem top 1.25rem;
    text-align: right;
  }

  // Content.

  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  a {
    color: var(--base-color);
    font-family: $sans-serif;
  }
}
