///
/// Displays the *element* as a default message box.
///
@mixin message-box() {
  --base-color: #{$c-message-base};
  padding: 1rem 1.5rem 1rem 4.5rem;
  border-width: 8px 0 0;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--base-color) transparent transparent transparent;
  background: no-repeat left 1.5rem top 1.25rem;
  background-size: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;

  // RTL support.

  [dir='rtl'] & {
    padding: 1rem 4.5rem 1rem 1.5rem;
    background-position: right 1.5rem top 1.25rem;
    text-align: right;
  }

  // Content.

  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  a {
    color: var(--base-color);
    font-family: $sans-serif;
  }
}

///
/// Overrides default message box style with status ones.
///
@mixin message-box--status {
  --base-color: #{$c-message-status};
  background-image: url($images-path + '/icons/message-valid.svg');
}

///
/// Overrides default message box style with info ones.
///
@mixin message-box--info {
  --base-color: #{$c-message-info};
  background-image: url($images-path + '/icons/message-info.svg');
}

///
/// Overrides default message box style with warning ones.
///
@mixin message-box--warning {
  --base-color: #{$c-message-warning};
  background-image: url($images-path + '/icons/message-caution.svg');
}

///
/// Overrides default message box style with error ones.
///
@mixin message-box--error {
  --base-color: #{$c-message-error};
  background-image: url($images-path + '/icons/message-alert.svg');
}
