////
/// Size related mixins.
////

///
/// Defines the *element* as the parent of a full sized child.
///
@mixin full-size-parent() {
  position: relative;
}

///
/// Sets the *element* size to 100% of its first positioned parent.
///
@mixin full-size-child() {
  position: absolute;
  inset: 0;
}

///
/// Extends the *element* width to cover the entire screen.
///
/// Warning: it only work if the natural position of the element is already
/// centered in the page.
///
@mixin full-page-width() {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
}
