/* stylelint-disable plugin/stylelint-bem-namics */
@mixin full-size-parent() {
  position: relative;
}

@mixin full-size-child() {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

@mixin full-size-children() {
  @include full-size-parent;

  & > * {
    @include full-size-child;
  }
}
