@use 'sass:list';
@use 'sass:math';

///
/// Converts numeric values to rem.
///
/// @param {String} $sizes - the sizes ton convert
///
/// @return {String} The converted sizes
///
/// @example scss - Converts a single value
///   margin-top: px-to-rem(38);
///
/// @example scss - Converts a multiple value
///   margin: px-to-rem(38 auto 24);
///
@function px-to-rem($sizes) {
  $data: null;
  $i: 1;

  @each $size in $sizes {
    @if type-of($size) == 'number' {
      $data: $data + math.div($size, 16) + rem;
    } @else {
      $data: $data + $size;
    }

    @if $i < list.length($sizes) {
      $data: $data + ' ';
    }

    $i: $i + 1;
  }

  @return $data;
}
