////
/// Visibility related mixins.
////

///
/// Hides the *element* but keep it readable for Assistive Technologies.
///
@mixin visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

///
/// Reverts back the *element* to its default state.
///
@mixin visually-hidden-revert {
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  word-wrap: normal;
}

///
/// Hides the *element* but keep it readable for AT and show it when focused.
///
@mixin visually-hidden-focusable {
  @include visually-hidden;

  &:focus-visible,
  &:focus-within {
    @include visually-hidden-revert;
  }
}
