// Guideline colors.

$honey-dark: #FFAA00;
$honey: #FFC113;
$honey-light: #FFD400;

$carbon-dark: #1E1E28;
$carbon: #3C3C46;
$carbon-light: #6E6E78;

$grey-dark: #A0A0A5;
$grey: #C8C8CD;
$grey-light: #E8E8EB;

$paper-dark: #F5F5F5;
$paper: #FAFAFA;
$white: #FFFFFF;

$purple-dark: #323787;
$purple: #4146AF;
$purple-light: #E1E6FF;

$blue: #3C4696;
$green: #0F8246;
$orange: #D25800;
$red: #D3001B;
$black: #000000;

// Usage.

$headings-color: $carbon-dark;
$text-color: $carbon;

$link-color: $text-color;
$link-decoration-color: $honey;
$link-hover-color: $purple;
$link-hover-decoration-color: $purple-light;

$button-main-color: $white;
$button-secondary-color: $purple-dark;
$button-disabled-color: $carbon;
$button-disabled-bg-color: $carbon-light;
