////
/// Forms related global styles.
////

// ------------
// Field types.
// ------------

input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
textarea,
select {
  width: 100%;
  max-width: 100%;
  padding: 0.7rem 0.9rem 0.6rem;
  transition: border-left-width 50ms linear, border-color 50ms linear;
  border: solid 1px $c-form-default-border;
  border-radius: 2px;
  outline-color: $c-form-label;
  background-color: white;
  color: $c-form-default-text;

  &:disabled {
    background-color: $c-form-disabled-background;
    color: $c-form-disabled-text;
  }

  &.error {
    border-left-width: 4px;
    border-color: $c-message-error;
  }

  &:focus,
  &:active {
    border-left-width: 4px;
    border-color: $c-form-focus-accent;
    outline-color: $c-form-focus-accent;
    color: $c-form-focus-text;
  }

  &:hover:not(:focus) {
    border-color: $c-form-hover-border;
  }

  &:hover:not(:focus):not(:active):not(.error) {
    border-left-width: 1px;
  }
}

input[type='submit'] {
  @include button;
  display: inline-block;
}

input[type='radio'],
input[type='checkbox'] {
  &:not(:checked),
  &:checked {
    $size: 1.25em; // ~20px

    // Hide the checkbox but keep it in the flow so browser validation shows at
    // the appropriate location if needed.
    @include visually-hidden;

    // Move the location a bit so the validation popup is well positioned.
    margin: $size 0 0 calc($size / 2);

    + label {
      position: relative;
      padding-left: 2em; // ~32px
      color: $c-form-label;
      cursor: pointer;

      &::before,
      &::after {
        position: absolute;
        top: 0; left: 0;
        width: $size;
        height: $size;
        border-radius: 0.25em; // ~4px
        line-height: $size;
        text-align: center;
      }

      &::before {
        content: '';

        // Add 1px to prevent Safari to show a tiny dot in the checkbox.
        border: calc(#{calc($size / 2)} + 1px) solid $c-form-checkbox-background;
        background: $c-form-focus-accent;
      }

      &::after {
        content: '✔';
        border: 1px solid $c-form-default-border;
        color: $c-form-checkbox-checkmark;
      }

      &.form-required {
        &::after {
          margin: 0;
          background-image: none;
        }

        span.hidden {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          margin: 0 0.3em;

          // Copy from .form-required:after.
          background-image: url('/core/misc/icons/ee0000/required.svg');
          background-repeat: no-repeat;
          background-size: 6px 6px;

          // Hide the text.
          text-indent: -999vw;
        }
      }
    }

    &:focus,
    &:active {
      & + label {
        &::after {
          border-color: $c-form-focus-accent;
        }
      }
    }

    &:hover:not(:focus) {
      & + label {
        &::after {
          border-color: $c-form-hover-border;
        }
      }
    }

    &:disabled {
      + label {
        &::before {
          border-color: $c-form-disabled-border;
          background: $c-form-hover-border;
        }

        &::after {
          color: $c-form-disabled-border;
        }
      }
    }
  }

  &:checked {
    + label {
      &::before { border-width: 0; }
      &::after { border-color: $c-form-focus-accent; }
    }

    &:disabled {
      + label {
        &::after {
          border-color: $c-form-disabled-border;
          color: $c-form-checkbox-checkmark;
        }
      }
    }
  }
}

input[type='radio'] {
  &:not(:checked),
  &:checked {
    + label {
      &::before,
      &::after {
        border-radius: 50%;
      }

      &::after { content: ''; }
    }
  }

  &:checked {
    + label {
      &::before { border-width: 0.25em; }
    }
  }
}

option {
  padding: 0.7rem 0.9rem 0.6rem;

  &:hover {
    background-color: $c-form-focus-background;
    color: $c-form-focus-accent;
  }
}

// ---------------
// Field wrappers.
// ---------------

.form-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  > * {
    margin-bottom: 1rem;
  }

  @include media('>=desktop') {
    justify-content: flex-start;
  }
}

.form-item {
  &--error-message {
    color: $c-message-error;

    &::before {
      background-image: url($images-path + '/icons/message-alert.svg');
      vertical-align: initial;
    }

    strong { font-weight: normal; }
  }
}
