/* stylelint-disable plugin/stylelint-bem-namics */

/*
  Form types.
*/

%narrow-form {
  max-width: 40rem;
  margin: auto;
  padding: 0 1rem;

  @include media('>=wide') {
    padding: 0;
  }
}

/*
  Field types.
*/

%full-size-field {
  width: 100%;
  max-width: 100%;
}

%base-field,
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  @extend %full-size-field;
  padding: 0.7rem 0.9rem 0.6rem;
  transition: border-left-width 50ms linear, border-color 50ms linear;
  border: solid 1px $grey;
  border-radius: 2px;
  outline-color: $carbon-light;
  background-color: white;
  color: $carbon-light;

  &:disabled {
    background-color: $paper-dark;
    color: $carbon;
  }

  &.error {
    border-left-width: 4px;
    border-color: $red;
  }

  &:focus,
  &:active {
    border-left-width: 4px;
    border-color: $purple;
    outline-color: $purple;
    color: $carbon;
  }

  &:hover:not(:focus) {
    border-color: $grey-dark;
  }

  &:hover:not(:focus):not(:active):not(.error) {
    border-left-width: 1px;
  }
}

%button,
input[type="submit"] {
  @include button;
  display: inline-block;
}

%checkbox,
input[type="checkbox"] {
  &:not(:checked),
  &:checked {
    $size: 1.25em; // ~20px

    // Hide the checkbox but keep it in the flow so browser validation shows at
    // the appropriate location if needed.
    @extend %visually-hidden;

    // Move the location a bit so the validation popup is well positioned.
    margin: $size 0 0 calc($size / 2);

    + label {
      position: relative;
      padding-left: 2em; // ~32px
      color: $carbon;
      cursor: pointer;

      &::before,
      &::after {
        position: absolute;
        top: 0; left: 0;
        width: $size;
        height: $size;
        border-radius: 0.25em; // ~4px
        line-height: $size;
        text-align: center;
      }

      &::before {
        content: '';
        @include transition(border-width, faster);

        // Add 1px to prevent Safari to show a tiny dot in the checkbox.
        border: calc(#{$size / 2} + 1px) solid $white;
        background: $purple;
      }

      &::after {
        content: '✔';
        @include transition(border-color, faster);
        border: 1px solid $grey;
        color: $white;
      }

      &.form-required {
        &::after {
          margin: 0;
          background-image: none;
        }

        span.hidden {
          content: '';
          display: inline-block;
          width: 6px;
          height: 6px;
          margin: 0 0.3em;

          // Copy from .form-required:after.
          background-image: url('/core/misc/icons/ee0000/required.svg');
          background-repeat: no-repeat;
          background-size: 6px 6px;

          // Hide the text.
          text-indent: -999vw;
        }
      }
    }

    &:focus,
    &:active {
      & + label {
        &::after {
          border-color: $purple;
        }
      }
    }

    &:hover:not(:focus) {
      & + label {
        &::after {
          border-color: $grey-dark;
        }
      }
    }

    &:disabled {
      + label {
        &::before {
          border-color: $grey-light;
          background: $grey-dark;
        }

        &::after {
          color: $grey-light;
        }
      }
    }
  }

  &:checked {
    + label {
      &::before { border-width: 0; }
      &::after { border-color: $purple; }
    }

    &:disabled {
      + label {
        &::after {
          border-color: $grey-dark;
          color: $white;
        }
      }
    }
  }
}

%radio,
input[type="radio"] {
  @extend %checkbox;

  &:not(:checked),
  &:checked {
    + label {
      &::before,
      &::after {
        border-radius: 50%;
      }

      &::after { content: ''; }
    }
  }

  &:checked {
    + label {
      &::before { border-width: 0.25em; }
    }
  }
}

option {
  padding: 0.7rem 0.9rem 0.6rem;

  &:hover {
    background-color: $purple-light;
    color: $purple;
  }
}

/*
  Fields wrappers.
*/

.form-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  @include media('>=desktop') {
    justify-content: flex-start;
  }

  > * {
    margin-bottom: 1rem;
  }
}

.form-item {
  &--error-message {
    color: $red;

    &::before {
      background-image: url($images-path + "/icons/message-alert.svg");
      vertical-align: initial;
    }

    strong { font-weight: normal; }
  }

  // Avoid some Classy styles to override ours.
  textarea {
    @extend %base-field;
  }
}
