////
/// Layout related global styles.
////

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
.layout-container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

body.toolbar-fixed {
  &,
  .layout-container {
    min-height: calc(100vh - 40px);
  }
}

.layout-container {
  position: relative; // Prevent absolute top to get behind the toolbar.
  padding: 0 var(--external-gutter-size);
  overflow-y: hidden;
}
