////
/// @file
/// Messages related global styles.
////

@import '../abstractions/message_box';

.messages {
  @include message-box;
  &--status { @include message-box--status; }
  &--info { @include message-box--info; }
  &--warning { @include message-box--warning; }
  &--error { @include message-box--error; }

  // Messages lists.

  & + .messages {
    margin-top: 1.538em;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    & + & {
      margin-top: 0.769em;
    }
  }
}
